:root {
  --black-font-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --wwd-color: #e5e5e5;
  --icon-color: #afb1b8;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover-color: #188ce8;
  --font-mini: 12px;
  --font-main: 14px;
  --font-title: 36px;
  --font-middle: 16px;
  --font-upper-mid: 18px;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-main);
  font-weight: normal;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  color: var(--black-font-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-header__logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--white-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.link {
  text-decoration: none;
  display: block;
  transition: color 250ms var(--animation-cubic);
}

.section-title {
  font-size: var(--font-title);
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

.card-set {
  display: flex;
  justify-content: center;
}

.card-set__item:not(:last-child) {
  margin-right: 30px;
}

.card-set__item--position:not(:last-child) {
  margin-right: 10px;
}

.card-set__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.card-set__link:hover, .card-set__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn {
  cursor: pointer;
  background-color: var(--bcg-ourteam-color);
  color: var(--black-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-middle);
  line-height: 1.62;
  text-align: center;
  border-color: transparent;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--animation-cubic);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn.btn-main {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic);
}

.btn.btn-main:hover, .btn.btn-main:focus {
  background-color: var(--btn-hover-color);
}

.section-pfo-list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .section-pfo-list-btn {
    justify-content: center;
  }
}

.btn-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 1199px) {
  .btn-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.btn-submit,
.btn-footer {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--animation-cubic);
}

.btn-submit:hover, .btn-submit:focus,
.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-footer {
  margin-left: 12px;
  font-size: var(--font-middle);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 8px;
  width: 30px;
  height: 30px;
  transform: translateY(25%);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-container,
.site-nav,
.contacts-nav {
  display: flex;
  align-items: center;
}

.header-container {
  height: 60px;
}

@media screen and (min-width: 767px) {
  .header-container {
    height: 100%;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-container {
  background-color: white;
}

.site-nav,
.contacts-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav,
  .contacts-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-nav__item {
    margin-right: 0;
  }
}

.header-contacts {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animation-cubic);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--animation-cubic);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-nav__link,
.address__link {
  font-weight: 500;
  color: var(--grey-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-cubic);
}

.contacts-nav__link:hover,
.address__link:hover {
  color: var(--accent-color);
}

.contacts-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-nav__icon--mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-nav__icon--mail {
    width: 16px;
    height: 12px;
  }
}

.contacts-nav__icon--tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts-nav__icon--tel {
    width: 10px;
    height: 16px;
  }
}

.mob-social,
.mob-connect {
  width: 100%;
}

.mob-menu {
  position: fixed;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: left 500ms, visibility 500ms, right 500ms, visibility 500ms;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--black-font-color);
}

.current {
  color: var(--accent-color);
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-connect__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-connect__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-social {
  display: flex;
}

.mob-social__item + .mob-social__item {
  margin-left: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 250ms var(--animation-cubic);
  display: inline-block;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mob-social__item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mob-menu.is-hidden {
  left: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  margin-left: auto;
  width: 17px;
  height: 18px;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.menu-open-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.open-icon {
  fill: solid black;
  position: fixed;
  top: 22px;
  right: 20px;
  margin: 0;
  width: 24px;
  height: 16px;
}

.open-icon:hover {
  fill: var(--accent-color);
}

.close-icon {
  fill: solid black;
  position: fixed;
  top: 22px;
  right: 20px;
  margin: 0;
  width: 18px;
  height: 18px;
}

.close-icon:hover {
  fill: var(--accent-color);
}

.overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_mob_1x.jpg);
  background-color: var(--bcg-footer-heroes-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_mob_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_tab_1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_tab_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_desk_2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title--style {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  margin: 0 auto 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-title--style {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title--style {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms var(--animation-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 30px);
  padding: 40px 40px 40px 40px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms var(--animation-cubic), opacity 250ms var(--animation-cubic);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form {
  width: 100%;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-label {
  text-align: left;
  font-size: var(--font-mini);
  color: var(--grey-color);
  margin-bottom: 4px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  padding: 12px 0 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--animation-cubic);
}

.form-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

textarea {
  resize: none;
}

.form-field .comment {
  padding: 12px 16px;
  font-size: var(--font-main);
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-field .comment {
    font-size: var(--font-mini);
  }
}

.form-field .comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-field.policy-box {
  margin-bottom: 30px;
}

.link-policy {
  color: var(--accent-color);
  margin-left: 5px;
}

.policy {
  color: var(--grey-color);
  line-height: 1.7;
  font-size: var(--font-mini);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: var(--font-main);
  }
}

.policy span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-font-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-check:checked + .policy span {
  border: none;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--animation-cubic);
}

.policy-check:checked + .policy .policy-icon {
  fill: var(--white-color);
  transition: fill 250ms var(--animation-cubic);
}

.policy-icon {
  fill: transparent;
}

.input-box {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-cubic);
}

.form-icon-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-25%, 25%);
  border: violet;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--animation-cubic);
}

.form-icon-close:hover {
  fill: var(--accent-color);
}

.section--padding {
  padding-bottom: 0px;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
}

.details__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .details__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .details__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.details__title {
  font-size: var(--font-main);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .details__title {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .details__title {
    width: 100%;
    text-align: left;
  }
}

.details__post {
  line-height: 1.71;
  color: var(--grey-color);
  text-align: left;
}

@media screen and (min-width: 480px) {
  .details__post {
    width: 100%;
  }
}

.details__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bcg-ourteam-color);
  margin-bottom: 30px;
}

.details__icon {
  fill: currentColor;
}

@media screen and (max-width: 1200px) {
  .affairs {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.card-set {
  display: flex;
  justify-content: center;
}

.card-set__block {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay__post {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 100%;
}

.section--color {
  background-color: var(--bcg-ourteam-color);
}

.team-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-set__item {
  margin-bottom: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-set__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-set__item {
    width: calc(100% / 4 - 30px);
  }
}

.team-set__stuff {
  font-size: var(--font-middle);
  font-weight: 500;
  line-height: 1.19;
}

.team-set__post {
  font-size: var(--font-middle);
  line-height: 1.18;
  color: var(--grey-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-set__box {
  background-color: var(--white-color);
  text-align: center;
  padding: 30px 0;
  border: transparent;
  border-radius: 0px 0px 4px 4px;
}

.social-set {
  display: flex;
  justify-content: center;
}

.social-set:not(:last-child) {
  margin-right: 10px;
}

.social-set__item:not(:last-child) {
  margin-right: 10px;
}

.social-set__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.social-set__link:hover, .social-set__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-set__icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .clients__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: var(--icon-color);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.clients__link:hover, .clients__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 100%;
  }
}

.footer {
  background-color: var(--bcg-footer-heroes-color);
  padding: 60px 0;
}

.address {
  font-style: inherit;
}

.address__link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
}

.address__link--map {
  color: var(--white-color);
}

.address__list {
  display: flex;
  /*+*/
  flex-direction: column;
  /*+*/
  align-items: center;
  /*+*/
}

@media screen and (min-width: 1200px) {
  .address__list {
    align-items: flex-start;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.wrapper {
  text-align: center;
  /*+*/
  margin-bottom: 60px;
  /*+*/
}

@media screen and (min-width: 1200px) {
  .wrapper {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
  }
}

.footer-join {
  margin-bottom: 60px;
  /*+*/
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: 93px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
  }
}

.form-footer__input {
  width: 90vw;
  background-color: var(--bcg-footer-heroes-color);
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--grey-color);
  margin-bottom: 20px;
  /*+*/
}

@media screen and (min-width: 768px) {
  .form-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer__icon {
  vertical-align: middle;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--white-color);
}

.section-pfo-list {
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .section-pfo-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.pfo-item {
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .pfo-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .pfo-item {
    width: calc(100% / 3 - 30px);
  }
}

.section-pfo-title {
  color: var(--black-font-color);
  font-size: var(--font-upper-mid);
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.section-pfo-post {
  color: var(--black-font-color);
  font-size: var(--font-middle);
  line-height: 30px;
  color: var(--grey-color);
}

.box-section-pfo-title {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-grow: 1;
}

.section-pfo-link {
  transition: box-shadow 250ms var(--animation-cubic);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-pfo-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-pfo-link:hover .pfo-box-overlay,
.section-pfo-link:focus .pfo-box-overlay {
  transform: translatey(0%);
}

.pfo-box-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pfo-box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms var(--animation-cubic);
}

.pfo-post-overlay {
  font-size: var(--font-upper-mid);
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
}

.card-set, .section-pfo-list-btn, .header-container,
.site-nav,
.contacts-nav, .site-list, .mob-social,
.mob-connect, .details-list, .team-set, .social-set, .clients__list, .address__list, .footer__list, .section-pfo-list {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */