.card-set__block {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-set__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.overlay__post {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 100%;
}