.section--padding {
  padding-bottom: 0px;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @extend %list;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.details__item {
  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.details__title {
  font-size: var(--font-main);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    text-align: left;
  }
}

.details__post {
  line-height: 1.71;
  color: var(--grey-color);
  text-align: left;
  // max-width: 270px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }
}

.details__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bcg-ourteam-color);
  margin-bottom: 30px;
}

.details__icon {
  fill: currentColor;
}
