.footer {
  background-color: var(--bcg-footer-heroes-color);
  padding: 60px 0;
}
.address {
  font-style: inherit;
}

.address__link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
}

.address__link--map {
  color: var(--white-color);
}
.address__list {
  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-join {
  margin-left: 70px;
}
.footer__title {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.card-set__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-submit {
  margin-left: 93px;
}

.form-field-footer {
  display: flex;
}

.form-input-footer {
  width: 358px;
  background-color: var(--bcg-footer-heroes-color);
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--grey-color);
}
.footer-icon {
  vertical-align: middle;
}

.card-set__icon--fill {
  fill: var(--white-color);
}
