.footer {
  background-color: var(--bcg-footer-heroes-color);
  padding: 60px 0;
}
.address {
  font-style: inherit;
}

.address__link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
}

.address__link--map {
  color: var(--white-color);
}

.address__list {
  @extend %list;
  display: flex; /*+*/
  flex-direction: column; /*+*/
  align-items: center; /*+*/

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
.wrapper {
  text-align: center; /*+*/
  margin-bottom: 60px; /*+*/

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}
.footer__container {
  display: flex;
  // align-items: baseline;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer-join {
  margin-bottom: 60px; /*+*/

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-submit {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.form-footer__input {
  // width: 358px;
  width: 450px;
  background-color: var(--bcg-footer-heroes-color);
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--grey-color);
  margin-bottom: 20px; /*+*/

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.form-footer__icon {
  vertical-align: middle;
}

.footer__list {
  display: flex;
  justify-content: center;
  @extend %list;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--white-color);
}
