.page-header {
  border-bottom: 1px solid #ececec;
  // height: 60px;
}

.header-container,
.site-nav,
.contacts-nav {
  display: flex;
  align-items: center;
  @extend %list;
}

.header-container {
  height: 60px;
  @media screen and (min-width: 767px) {
    height: 100%;
  }
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.header-container {
  background-color: white;
}

.site-nav,
.contacts-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts-nav {
  @media screen and (min-width: 768px) {
    display: flex;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      // align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.contacts-nav__item {
  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
}

.header-contacts {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animation-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.link {
  &:focus {
    color: var(--accent-color);
    transition: color 250ms var(--animation-cubic);
  }
}

.site-nav__link--current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts-nav__link,
.address__link {
  font-weight: 500;
  color: var(--grey-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-cubic);
  &:hover {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-nav__icon--mail {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts-nav__icon--tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.site-list {
  @extend %list;
}

.mob-social,
.mob-connect {
  @extend %list;
  width: 100%;
}

.mob-menu {
  position: fixed;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  // transform: translate(0);
  transition: left 500ms, visibility 500ms, right 500ms, visibility 500ms;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
}

.site-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--black-font-color);
}

.current {
  color: var(--accent-color);
}
.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.mob-social__item + .mob-social__item {
  @media screen and (min-width: 470px) {
    margin-left: 10px;
  }
}
.mob-social__item:not(:last-child) {
  @media screen and (max-width: 470px) {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 250ms var(--animation-cubic);
  display: inline-block;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mob-social__item:not(:last-child)::after {
  @media screen and (min-width: 470px) {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }
}

.mob-menu.is-hidden {
  left: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  margin-left: auto;
  width: 17px;
  height: 18px;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.menu-open-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  margin-left: auto;
  // width: 17px;
  // height: 18px;
  background-color: transparent;
  border-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-icon {
  fill: solid black;
  //  z-index: 3;
  position: fixed;
  top: 22px;
  right: 20px;
  margin: 0;
  width: 24px;
  height: 16px;
  &:hover {
    fill: var(--accent-color);
  }
}

.close-icon {
  fill: solid black;
  position: fixed;
  top: 22px;
  right: 20px;
  margin: 0;
  width: 18px;
  height: 18px;
  &:hover {
    fill: var(--accent-color);
  }
}
