.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

// .list {
//   list-style: none;
// }

.link {
  text-decoration: none;
  display: block;
  transition: color 250ms var(--animation-cubic);
}
