:root {
  --black-font-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --wwd-color: #e5e5e5;
  --icon-color: #afb1b8;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover-color: #188ce8;
  --font-mini: 12px;
  --font-main: 14px;
  --font-title: 36px;
  --font-middle: 16px;
  --font-upper-mid:  18px;
   box-sizing: border-box;
}

